ENVIRONMENT=local

# Phase 2+
# DATABASE_URL=postgresql+psycopg2://admin:password@localhost:5432/my_app_db

# Phase 3+
# FIREBASE_CREDENTIALS_PATH=/absolute/path/to/serviceAccount.json

# Phase 4+
# OPENAI_API_KEY=sk-...
